<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
  />
  <meta name="description" content="Personal Blog of Jikku Jose" />
  <meta name="theme-color" content="#000" />

  <title>Jikku Jose</title>

  <link
    tag="link"
    rel="icon"
    type="image/png"
    sizes="512x512"
    href="{{ site.baseurl }}/assets/logo.svg"
  />
  <link tag="link" rel="mask-icon" href="imgur_svg" color="#000" />

  <meta tag="meta" property="og:title" content="PWA" />
  <meta tag="meta" property="og:site_name" content="PWA" />
  <meta tag="meta" property="og:url" content="PAGE_URL" />
  <meta tag="meta" property="og:description" content="Progressive Web App" />
  <meta tag="meta" property="og:type" content="product" />
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js"></script>
  <link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/styles/github-markdown-dark.css"
  />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/fonts.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/custom.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/syntax.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
  />
  <meta
    tag="meta"
    property="og:image"
    content="{{ site.baseurl }}/assets/logo.svg"
  />
</head>
