<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
  />
  <meta
    name="description"
    content="{{ page.description || site.description }}"
  />
  <meta name="theme-color" content="#000" />

  <title>{{ page.title }}</title>

  <link rel="canonical" href="https://toolbomber.com" />
  <link
    tag="link"
    rel="icon"
    type="image/png"
    sizes="512x512"
    href="{{ site.baseurl }}/assets/logo.png"
  />
  <link
    tag="link"
    rel="mask-icon"
    href="{{ site.baseurl }}/assets/logo.png"
    color="#000"
  />

  <meta tag="meta" property="og:title" content="{{ page.title }}" />
  <meta tag="meta" property="og:site_name" content="{{ page.title }}" />
  <meta tag="meta" property="og:url" content="https://jikkujose.in" />
  <meta tag="meta" property="og:description" content="{{ page.description }}" />
  <meta tag="meta" property="og:type" content="blog" />
  <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js"></script>
  <link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/styles/github-markdown-dark.css"
  />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/fonts.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/custom.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/syntax.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
  />
  <meta
    tag="meta"
    property="og:image"
    content="{{ site.baseurl }}{{page.social_preview || '/assets/logo.png'}}"
  />
  <script defer src="/_vercel/insights/script.js"></script>
</head>
