.reveal pre code {
  font-family: monaco, monospace;
  padding: 15px;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.reveal section img {
  background: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
}
