<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Personal Blog of Jikku Jose" />
    <meta name="theme-color" content="#000" />

    <title>Jikku Jose</title>

    <link
      tag="link"
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="{{ site.baseurl}}/assets/logo.svg"
    />
    <link
      tag="link"
      rel="mask-icon"
      href="{{ sites.baseurl }}/assets/logo.svg"
      color="#000"
    />

    <meta tag="meta" property="og:title" content="Jikku Jose | Blog" />
    <meta tag="meta" property="og:site_name" content="Jikku Jose" />
    <meta tag="meta" property="og:url" content="https://jikkujose.in/" />
    <meta tag="meta" property="og:description" content="Jikku Jose" />
    <meta tag="meta" property="og:type" content="product" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-dark.css"
    />
    <link rel="stylesheet" href="/assets/styles/fonts.css" />
    <link rel="stylesheet" href="/assets/styles/stacks.css" />
    <link rel="stylesheet" href="/assets/styles/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <meta
      tag="meta"
      property="og:image"
      content="{{ site.baseurl }}/assets/logo.svg"
    />
  </head>
  <body>
    <div
      class="min-h-screen flex flex-col items-center bg-yellow-100"
      style="background: #0d1117"
    >
      <div class="max-w-2xl w-full text-sm p-6 pb-12 font-inter">
        <div class="flex flex-col items-center">
          {% for post in site.posts %}
          <div
            class="blog-card w-96 bg-gray-100 p-2 flex items-end rounded-md relative mb-16"
          >
            <div class="photo-stack w-24 h-24 absolute right-4 -bottom-4">
              <img
                src="https://i.pravatar.cc/300?img=2"
                id="photo1"
                class="rounded-lg"
                alt=""
              />
              <img
                src="https://i.pravatar.cc/300?img=5"
                id="photo2"
                class="rounded-lg"
                alt=""
              />
              <img
                src="https://i.pravatar.cc/300?img=8"
                id="photo3"
                class="rounded-lg"
                alt=""
              />
            </div>
            <div class="text flex flex-col ml-4">
              <div class="title text-xl">{{ post.title }}</div>
              <div class="date text-xs text-black text-opacity-40 font-bold">
                {{ post.date | date: "%B %d, %Y" }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      timeago.render(document.querySelectorAll(".timeago"))
    </script>
  </body>
</html>
